<div class="container">
  
</div>
<section class="hero">
  <div class="hero-body ">
    <p class="title has-text-centered">
     Bulma / angular-tree-component
    </p>
    <div class="subtitle has-text-centered">
      <ul>
        <li>bulma v0.9.1</li>
        <li>@verifone/ui-design-system v0.16.1</li>
        <li>@circlon/angular-tree-component v11.0.4</li>
      </ul>
    </div>
  </div>
</section>
<div class="container">
  <div class="box is-flex-direction-row is-justify-content-center">
      <!--Using ng-option and for loop-->
    <tree-root
      id="tree1"
      [nodes]="nodes"
      [options]="options">
    </tree-root>
  </div>
</div>