
<div class="container">
  
</div>
<section class="hero">
  <div class="hero-body ">
    <p class="title has-text-centered">
     Bulma / Angular Tree Component Example
    </p>
    <p class="subtitle has-text-centered">
      This example uses Bulma, angular-tree-component and fontawesome 
    </p>
  </div>
</section>
<div class="container">
  <div class="box is-flex-direction-row is-justify-content-center">
    
    <h3>tri-state checkboxes</h3>
    <tree-root
      id="tree1"
    
      [nodes]="nodes"
      [options]="options">
    </tree-root>
    <h3>The tree is using flexbox.<br>
      Switch expander and checkbox with CSS 'order' attribute:</h3>
    <tree-root
      class="reverse"
      id="tree2"

      [nodes]="nodes"
      [options]="options">
    </tree-root>
    <h3>Disable tri-state checkboxes</h3>
    <tree-root
      class="reverse"
      id="tree3"

      [nodes]="nodes"
      [options]="optionsDisabled">
    </tree-root>
  </div>
</div>