
<div class="container">
  
</div>
<section class="hero">
  <div class="hero-body ">
    <p class="title has-text-centered">
     Bulma / Angular Tree Component Example
    </p>
    <p class="subtitle has-text-centered">
      This example uses Bulma, angular-tree-component and fontawesome 
    </p>
  </div>
</section>
<div class="container">
  <div class="box is-flex-direction-row is-justify-content-center">
    <tree-root
      id="tree1"
      [nodes]="nodes"
      [options]="options">
    </tree-root>
  </div>
</div>