@import "../node_modules/@verifone/ui-design-system/src/variables/colors.scss";
/* You can add global styles to this file, and also import other style files */
    

  .tree-node-loading {
    display: block;
    padding: 10px 0;
  }

  .toggle-children {
    background-image: none;
    height: 16px;
    width: 16px;
    position:relative;
  }

 
  .toggle-children-wrapper-collapsed .toggle-children {
    transform: rotate(0) !important;

    &:before {
        font: var(--fa-font-solid);
        content: "\f105";
        display: flex;
        justify-content: center;
        align-items: center;

    }
  }

  .toggle-children-wrapper-expanded .toggle-children {
    transform: rotate(90deg) !important;
    &:before{
        font: var(--fa-font-solid);
        content: "\f105";
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }

  .toggle-children-wrapper {
    padding: 15px;
    padding-right: 0!important;
  }

  .tree-node-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 2px;
  }

  .node-wrapper {
    display: flex;
    align-items: center;
  }

  .toggle-children {
    margin-top: 0;
  }

  .tree-children {
    border-left: 1px solid $vf-black-20;
    padding-left: 22px;
    margin-left: 10px;
  }
  .node-content-wrapper-focused {
    background: $vf-info-20;
  }
  .node-content-wrapper:hover {
    background: $vf-info-20;
  }

  .node-content-wrapper-active, .node-content-wrapper.node-content-wrapper-active:hover, .node-content-wrapper-active.node-content-wrapper-focused {
    background: $vf-info-50;
  }
  tree-node-checkbox {
    padding-top: 5px;
  }

  .load-more {
    border-left: 1px solid $vf-black-20;
    padding-left: 30px;
    margin-left: 10px;
  }

  tree-node-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    margin: -10px 0 0 0;
    vertical-align: middle;
    border-radius: 2px;
  }

  .tree-node-checkbox {
    border: 1px solid $vf-primary-100;
    border-radius: 2px;
    outline: none;
    margin: 0;
    -webkit-appearance: initial;
    width: 20px;
    height: 20px;
    position: absolute;
    color: $vf-white-100;
    cursor: pointer;
    overflow: hidden;

    &:disabled {
      border-color: $vf-black-20;
      cursor: default;
    }

    &:focus {
      border-color: $vf-primary-100;
    }

    &:checked:after {
      /* Heres your symbol replacement - this is a trick in our special code. */
      font-size: 14px;
      font-weight: bold;
      font: var(--fa-font-solid);
      content: "\f00c";
      width: 18px;
      height:18px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $vf-primary-100;
      border-color: $vf-primary-100;
      /* The following positions my tick in the center,
      * but you could just overlay the entire box
      * with a full after element with a background if you want to */
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }

    &:indeterminate:after {
      /* Heres your symbol replacement - this is a trick in our special code. */
      font: var(--fa-font-solid);
      content: "\f068";
      color: $vf-white-90;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $vf-primary-100;
      border-color: $vf-primary-100;
      width: 100%;
      height: 100%;
      /* The following positions my tick in the center,
      * but you could just overlay the entire box
      * with a full after element with a background if you want to */
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }

  .load-more-container {
    display: flex;
    margin-left: 32px;
    margin-top: 10px;

    span {
      margin-left: 30px;
    }
  }

 


